/*
 *= require admin/spree_backend
*/

.center {
  text-align: center;
}

.state.delivered,
.state.confirmed {
  background-color: #ff9300;
  color: white;

  a {
    color: white;
  }
}

.supplier-banks ol li {
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: left;
}
