<h2>Affiliate Information</h2>

<dl>
  <dt>Name</dt>
    <dd><%= Spree::Config[:site_name] %></dd>
  <dt>Domain</dt>
    <dd><%= Spree::Config[:site_url] || request.host %></dd>
  <dt>Email</dt>
    <dd><%= mail_to Spree::DropShipConfig[:affiliate_email] || "info@#{request.host}" %></dd>
</dl>
