<% content_for :sidebar_title do %>
  <%= t(:suppliers) %>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul class="sidebar" data-hook="admin_suppliers_sidebar_menu">
      <li>
        <%= link_to t('.supplier_details'), admin_supplier_url(@supplier) %>
      </li>
      <li>
        <%= link_to t('.edit_supplier'), edit_admin_supplier_url(@supplier) %>
      </li>
      <li>
        <%= link_to t('.supplier_orders'), admin_supplier_orders_url(@supplier) %>
      </li>
    </ul>
  </nav>
<% end %>
