<% if defined?(SpreeFancy) %>
  <% content_for :subheader do %>
    <h1><%= I18n.t('spree.shared.unauthorized.unauthorized') %></h1>
  <% end %>
<% else %>
  <h1><%= I18n.t('spree.shared.unauthorized.unauthorized') %></h1>
<% end %>

<%= I18n.t('spree.shared.unauthorized.explained') %>
